{% extends 'base.html' %}

{% block body %}
    <div class="game">
        <div class="row">
            <button id="c11" onclick="cellClick(0, 0, 'c11')"></button>
            <button id="c12" onclick="cellClick(0, 1, 'c12')"></button>
            <button id="c13" onclick="cellClick(0, 2, 'c13')"></button>
        </div>
        <div class="row">
            <button id="c21" onclick="cellClick(1, 0, 'c21')"></button>
            <button id="c22" onclick="cellClick(1, 1, 'c22')"></button>
            <button id="c23" onclick="cellClick(1, 2, 'c23')"></button>
        </div>
        <div class="row">
            <button id="c31" onclick="cellClick(2, 0, 'c31')"></button>
            <button id="c32" onclick="cellClick(2, 1, 'c32')"></button>
            <button id="c33" onclick="cellClick(2, 2, 'c33')"></button>
        </div>
        <div class="reset-btn">
            <button id="reset" onclick="ResetBoard()">Reset</button>
        </div>
        <div class='result'></div>
    </div>
    <script>
        let board = ['c11', 'c12', 'c13', 'c21', 'c22', 'c23', 'c31', 'c32', 'c33'];
        let currentPlayer = 'X';
        const game_board = [['', '', ''], ['', '', ''], ['', '', '']];

        function cellClick(row, col, id) {
            if (board.includes(id) && game_board[row][col] === '') {
                let btn = document.getElementById(id);
                btn.textContent = currentPlayer;
                game_board[row][col] = currentPlayer;
                let index = board.indexOf(id);
                if (index !== -1) {
                    board.splice(index, 1);
                }
                if (CheckWin()) {
                    let result = document.getElementsByClassName('result')[0];
                    result.textContent = `Player ${currentPlayer} wins`;
                    return;
                }
                currentPlayer = currentPlayer === 'X' ? 'O' : 'X';
            }
        }

        function ResetBoard() {
            board = ['c11', 'c12', 'c13', 'c21', 'c22', 'c23', 'c31', 'c32', 'c33'];
            let AllBtn = document.getElementsByTagName("button");
            for (let i = 0; i < AllBtn.length-1; i++) {
                AllBtn[i].textContent = "";
            }
            let result = document.getElementsByClassName('result')[0];
            result.textContent = "";
            currentPlayer = currentPlayer === 'X' ? 'O' : 'X';
            game_board.forEach((row, i) => {
                row.forEach((col, j) => {
                    game_board[i][j] = '';
                });
            });
        }

        function CheckWin() {
            // Check rows
            for (let i = 0; i < 3; i++) {
                if (game_board[i][0] === currentPlayer && game_board[i][1] === currentPlayer && game_board[i][2] === currentPlayer) {
                    return true;
                }
            }
            // Check columns
            for (let i = 0; i < 3; i++) {
                if (game_board[0][i] === currentPlayer && game_board[1][i] === currentPlayer && game_board[2][i] === currentPlayer) {
                    return true;
                }
            }
            // Check diagonals
            if (game_board[0][0] === currentPlayer && game_board[1][1] === currentPlayer && game_board[2][2] === currentPlayer) {
                return true;
            }
            if (game_board[0][2] === currentPlayer && game_board[1][1] === currentPlayer && game_board[2][0] === currentPlayer) {
                return true;
            }
            return false;
        }
    </script>
{% endblock %}
