{% extends 'base.html' %}

{% block body %}
    <div class = 'game'>
        <div class = 'row'>
            <button id = 'c11'>1</button>
            <button id = 'c12'>2</button>
            <button id = 'c13'>3</button>
        </div>
        <div class = 'row'>
            <button id = 'c21'>4</button>
            <button id = 'c22'>5</button>
            <button id = 'c23'>6</button>
        </div>
        <div class = 'row'>
            <button id = 'c31'>7</button>
            <button id = 'c32'>8</button>
            <button id = 'c33'>9</button>
        </div>
    </div>
    <script>
        let board = ['c11' , 'c12' , 'c13' , 'c21' ,'c22' , 'c23' , 'c31' , 'c32' , 'c33']
        function click(){
            
        }

    </script>
{% endblock %}